@{

    ViewData["Title"] = "Home Page";

}

<h1>
    Take a ticket 
</h1>

<div>
    <img src="https://images-na.ssl-images-amazon.com/images/I/71%2B3rot5e-L._SL1500_.jpg" height="750" width="498" />
</div>

<div>

    <h3>  
        <b>@ViewBag.Number</b> 
    </h3>


</div>