@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Sorry, we are experiencing problems.</h1>
<h2 class="text-danger">Please email admin@contoso.com and provide this ID:</h2>


<div>
    <h1> @ViewBag.CorrelationId;</h1>
</div>
